:root {
    --text-color: rgb(34, 27, 43);
    --link-color: rgb(123, 62, 192);
    --background-color: rgb(243, 231, 255);
}

* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

html {
    scroll-behavior:smooth;
}

body {
    font-family:"Montserrat", sans-serif;
    color: var(--text-color);
    background-color:  var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

body hr {
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 10px;
    padding: 10px 20px;
    margin: 10px;
    border: 10px double rgb(158, 124, 197);
}

.links {
    padding: 50px;
    text-align: left;
}

a  {
    color: var(--link-color);
    text-decoration:none;
}

/* NAVBAR */
nav {
    display:flex;
    justify-content:space-between;
    padding: 0 50px;
    height: 80px;
    align-items:center;
}

nav.left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav.right a {
    color: var(--text-color);
    margin: 0 10px;
}

nav.right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav.right a span {
    margin-left: 5px;
}

/* Section1: Hero */
.hero-section   {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.hero-section .text   {
    flex: 5;
}

.hero-section .text h2   {
    font-size: 45px;
}

.hero-section .text .links {
    margin-top:  25px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-editory);
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
    border: 10px double rgb(158, 124, 197);
    border-radius: 50%;
}

.hero-section .headshot img{
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 350px;
    object-fit: cover;

}

/*Section 2 - Skills*/
.skills-section {
    align-items: center;
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2 {
    text-align:center;
    font-size: 35px;
}

.skills-section .text {
    text-align:center;
    margin-bottom: 20px;
}

.skills-section .cells {
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}

.skills-section .cells .cell {
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 10px;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 10px double rgb(158, 124, 197);
    border-radius: 5px;
}

.skills-section .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;

}

.skills-section .cells .cell span{
    font-size: 18px;
}

/* Section 3: projects */
.projects-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.projects-section h2{
    text-align:center;
    font-size: 35px;
    margin-bottom: 30px;
}

.projects-section .group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.projects-section .group .person-details {
    text-align: center;
    flex: 2;
}

.projects-section .group .person-details img {
    aspect-ratio: 1 / 1;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.projects-section .group .person-details p {
    font-weight: 600;
}

.projects-section .group .person-details p {
    font-weight: normal;
}

.projects-section .group .text {
    flex: 8;
}

/*Contact Form Section*/
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
    margin-top: 20px;
}

.contact-section .group .form button:hover {
    filter: brightness(.9);
}

@media(max-width:  850px) {
    /*SECTION 1: Hero */
    .hero-section .text h2 {
        font-size: 35px;
    }
}

@media(max-width:  740px) {
    /*SECTION 1: Hero */
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .headshot img {
        width: 300px;
    }

    /*SECTION 3: projects */
    .projects-section h2 {
        text-align: center;
    }

    .projects-section .group {
        flex-direction: column;
    }

    /* Contact Section */
    .contact-section .group {
        flex-direction: column;
    }
}

@media(max-width: 600px) {
    /*NAV BAR */
    nav {
        padding:0 20px;
    }
    nav.right a{
        font-size: 22px;
    }

    nav.right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav.right a span {
        display: none;
    }

    /*Section 1 - Hero */
    .hero-section {
        padding:0 20px;
    }

    .hero-section .text h2 {
        font-size: 30px;
    }


/* Section 2: skills responsiveness */
    .skills-section {
        padding:0 20px;
    }

    .skills-section .cells .cell span{
        font-size: 16px;
    }

    /* Contact Section */
    .contact-section {
        padding: 0 20px;
    }

}

/* Project section */
.project_list_section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.project_list_section h2{
    text-align:center;
    font-size: 35px;
    margin-bottom: 30px;
}

.project_list_section .group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.project_list_section .group .project-details {
    text-align: center;
    flex: 2;
}

.project_list_section .group .project-details img {
    aspect-ratio: 1 / 1;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 20px solid;
}

.project_list_section .group .project-details p {
    font-weight: 600;
}

.project_list_section .group .project-details p {
    font-weight: normal;
}

.project_list_section .group .text {
    flex: 8;
}

form {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

form input,
form textarea {
    margin-top: 20px;
    font-family:'Montserrat', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

form button {
    font-size: 16px;
    font-family:"Montserrat", sans-serif;
    color: #ffff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
    margin-bottom: 100px;
}